<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div>
                <image-button image="teams.jpg" text="EQUIPES" route="/teams"></image-button>
            </div>
            <div class="mt-4">
                <image-button image="persons.jpg" text="PESSOAS" route="/persons"></image-button> 
            </div>
            <div class="mt-4">
                <image-button image="study.jpg" text="ESTUDOS" route="/study"></image-button> 
            </div>
        </div>
        <div class="col-lg-6">
            Parte dos dashboards
        </div>
    </div>
</div>